<!-- <p>movies-list works!</p>
<div>
    {{title}}
</div> -->

<app-generic-list [list]="movies">
  <ng-container loading>
    this is loading...
  </ng-container>
  <ng-container empty>
    NO content
  </ng-container>
  <ng-container content>
    <div *ngFor="let movie of movies; let index = index" class="movie-container">
      <div>        
        <h3>({{index}}){{movie.title | uppercase}}<br /></h3>
        {{movie.releaseDate | date:"dd-MMMM-yyyy" | uppercase }}<br />
        {{movie.price | currency }}<br />
        <button style="margin-left:1rem;" (click)="remove(index)">Remove</button>
      </div>
    </div>

  </ng-container>
</app-generic-list>