<app-generic-list [list]="movies">

  <ng-container loading>
    this is loading...
  </ng-container>
  <ng-container empty>
    NO content
  </ng-container>
  <ng-container content>
    <div class="movies-container">
      <div *ngFor="let movie of movies; let index = index" class="movie-container">
        <a>
          <img [src]="movie.poster"  alt="Poster" />
        </a>
        <div>
          <p>
            <a>{{movie.title | uppercase}}</a>
          </p>
          <button mat-flat-button color="warn" color="primary">
            Edit
          </button>
          <button mat-flat-button color="warn" type="button">
            Delete
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</app-generic-list>